.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 65px;
    .icons{
        .social-icon{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 50px;
            background-color: #000;
            border-radius: 100%;
            font-size: 1.5rem;
            margin-right: 1.5rem;
            svg{
                width: 50%;
                height: 50%;
                text-decoration: none;
                color: #fff;
            }
        }
    }
    p{
        font-size: 18px;
        margin-bottom: 0;
        text-align: center;
        line-height: 1.5;
        margin: 30px 0;
        color: $footer-copyright-color !important;
    }

}