$border-bottom-color:#dee2e6;
$form-alert-color:#dc3545;
$navbar-button-color:rgba(0,0,0,0.5);
$footer-copyright-color : #6c757d;
$placeholder-color:#C1C1C1;
$label-button-color:#0085A1;
$article-header-color:#212529;
$article-hover-color:#0085A1;
$article-meta-color: #6c757d;