$homeHeaderImg : url('/img/bg-index.jpg');
$aboutHeaderImg : url('/img/bg-about.jpg');
$contactHeaderImg : url('/img/bg-contact.jpg');
$postHeaderImg : url('/img/bg-post.jpg');
$man-must-explore-img: url('/img/bg-man-must-explore.jpg');
$heartbeats :url('/img/bg-heartbeats.jpg');